__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
*.log
*.bak
*.bak2
*.bak_v4
*.bak_implicit
output/
output_test/
model/
*.ply
*.mp4
*.png
*.jpg
*.gif
.ipynb_checkpoints/
wandb/
